/* Other rules */
*,
body {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

:root {
  --clr-darker: #151515;
  --clr-dark: #202020;
  --clr-lighter: white;
  --clr-light: rgb(243, 243, 243);
  --clr-red: #ec1c23;
}

.app-container {
  background-color: var(--clr-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  // height: 100%;
  // background-color: var(--clr-light);
  // background-color: rgb(255, 51, 0);
}

.modal-no-scroll {
  overflow: hidden;
  height: 100vh;
}

//SIGNUP AND LOGIN MODALS
.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .close-modal {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .publish-validate-modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 350px;
    padding: 30px;
    position: relative;

    h1 {
      font-size: 24px;
      margin-top: 15px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      margin-top: 15px;
      font-size: 16px;
      text-align: center;
    }

    button {
      height: 45px;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      margin-top: 45px;
      background-color: var(--clr-red);
      margin: 40px 0 40px 0;
      cursor: pointer;
    }

    span {
      font-size: 13px;
      color: var(--clr-red);
      text-align: center;
      cursor: pointer;
    }
  }

  .signup-modal {
    position: relative;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 350px;
    padding: 30px;
    overflow: hidden;

    form {
      display: flex;
      flex-direction: column;

      input {
        outline: none;
        border: none;
        height: 50px;
        border-bottom: 1px solid #e7e7e7;
      }

      .form-input-password {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e7e7e7;

        .input {
          flex: 1;
          border-bottom: none;
        }
        .eye-icon {
          color: #898989;
          font-size: 12px;
          cursor: pointer;
        }
      }

      p {
        font-size: 12px;
        color: #999999;
      }

      .error-msg {
        color: var(--clr-red);
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
      }

      button {
        height: 45px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 45px 0 20px 0;
        background-color: var(--clr-red);
        cursor: pointer;
      }
    }
    .bottom-link {
      font-size: 12px;
      text-align: center;
      cursor: pointer;
    }
  }

  .login-modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 350px;
    padding: 30px;
    position: relative;

    form {
      display: flex;
      flex-direction: column;

      input {
        outline: none;
        border: none;
        height: 50px;
        border-bottom: 1px solid #e7e7e7;
      }

      .form-input-password {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e7e7e7;

        .input {
          flex: 1;
          border-bottom: none;
        }
        .eye-icon {
          color: #898989;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .error-msg {
        color: var(--clr-red);
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
      }
      button {
        height: 45px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin-top: 45px;
        background-color: var(--clr-red);
        margin: 45px 0 20px 0;
        cursor: pointer;
      }
    }
    .bottom-link {
      font-size: 12px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.loading-screen {
  height: 100vh;
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  span {
    font-size: 20px;
    font-weight: 600;
  }
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  background-color: var(--clr-dark);
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  // .container {
  //   background-color: green;
  //   height: 200px;

  img {
    margin: 15px 0;
    height: 70px;
  }

  .right-header {
    display: flex;

    button {
      background-color: var(--clr-light);
      color: var(--clr-red);
      margin: 0 10px;
      width: 100px;
      height: 28px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-size: 13px;
      font-weight: 600;
      cursor: pointer;
    }

    .disconnect-btn {
      background-color: var(--clr-red);
      padding: 0 8px;
      color: white;
      width: fit-content;
    }

    .loggin-signup-btn-container {
      display: flex;
      justify-content: space-between;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: red solid 2px;
  border-bottom: 1px solid #757575;
  border-top: 1px solid #757575;
  background-color: var(--clr-darker);
  background-color: #333;

  .links-container {
    display: flex;
    height: 40px;
    margin: 15px 0;

    // border: 3px solid blue;

    .link {
      display: flex;
      align-items: center;
      text-decoration: none;

      // border: 2px solid orange;
      span {
        display: flex;
        position: relative;
        height: 100%;
        align-items: center;
        // border: 2px solid green;
        margin: 0 10px;
        font-weight: 600;
        color: white;
      }

      span:active {
        transform: scale(1.05);
      }

      span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--clr-red);
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;

        // color: var(--clr-red);
      }
    }
  }

  .links-container:hover {
    span {
      color: rgb(128, 128, 128);
    }

    .link:hover {
      span::after {
        transform: scaleX(1);
        transform-origin: left;
      }
      span {
        color: white;
      }
    }
  }
}

// CHARACTERS COMICS & FAVORITES PAGE
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-dark);

  .choices {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    padding-left: 20px;

    span {
      margin-right: 20px;
      color: var(--clr-light);
      font-size: 30px;
      font-weight: 200;
    }

    .text {
      font-size: 22px;
      margin-right: 60px;
    }

    .notSelected {
      color: #757575;
    }

    .choice {
      cursor: pointer;
    }

    .choice:hover {
      color: var(--clr-light);
      transform: scale(1.05);
    }
  }

  .navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--clr-light);
    height: 60px;
    // border: 2px solid red;
    margin: 20px 0 20px;
    padding-left: 20px;

    //SEARCHBAR
    .searchBar {
      height: 100%;
      display: flex;
      align-items: center;
      min-width: 50%;
      position: relative;
      // border: 2px solid green;

      .search-icon {
        color: var(--clr-light);
        margin-right: 10px;
        font-size: 20px;
      }
      input {
        width: 100%;
        font-size: 25px;
        font-weight: 300;
        border: none;
        background-color: transparent;
        text-decoration: none;
        outline: none;
        color: var(--clr-light);
      }

      span {
        margin-left: 20px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 300;
      }
    }
    // .favorite {
    //   width: 100%;
    // }

    .searchBar::after {
      content: "";
      position: absolute;
      min-width: 100%;
      height: 1px;
      background-color: var(--clr-light);
      bottom: 0;
      left: 0;
    }

    .favorite {
      width: 100%;
    }
    .favorite::after {
      content: "";
      position: absolute;
      min-width: 50%;
      height: 1px;
      background-color: var(--clr-light);
      bottom: 0;
      left: 0;
    }

    //PAGE SELECTOR
    .page-selector {
      display: flex;
      align-items: center;

      span {
        font-size: 16px;
        margin: 0 10px;
      }
      .icon {
        font-size: 20px;
        cursor: pointer;
      }

      .icon:active {
        color: var(--clr-red);
        transform: scale(1.2);
      }
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;

    //STYLING FOR CHARACTERS PAGE CARDS
    .character-card-container {
      transition: 200ms ease-in;
      text-decoration: none;
      position: relative;
      width: 20%;
      height: 350px;
      border-radius: 5px;

      padding: 20px;
      // overflow: hidden;
      h2 {
        font-size: 20px;
        font-weight: 700;
        // font-weight: 900;
        color: var(--clr-light);
        text-shadow: 1px 1px 2px black;
        // padding: 20px 0;
        // border: 2px solid red;
      }
      p {
        transition: 3000ms ease;
        margin-bottom: 10px;
        text-shadow: 1px 1px 2px black;
        font-size: 12px;
        text-align: justify;
      }

      .card {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        border: 2px solid white;
        position: relative;

        .heart-icon {
          position: absolute;
          top: 0;
          right: 8%;
          font-size: 15px;
          padding: 12px 8px 22px;
          background-color: rgba(0, 0, 0, 65%);
          color: var(--clr-light);
          clip-path: polygon(100% 0%, 100% 100%, 52% 79%, 0% 100%, 3% 0%);
        }

        .favorite {
          color: rgb(255, 22, 22);
        }

        img {
          height: 100%;

          object-fit: cover;
          // height: 100%;
          width: 100%;
        }
        .card-content {
          padding: 20px;
          transition: transform 300ms ease;

          color: white;
          // display: none;
          background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.2) 20%, hsl(0 0% 0% / 1));
          // transform: translateY(50%);
        }
      }
    }
    .character-card-container:hover {
      transform: scale(1.1);

      .card-content {
        display: block;
        transform: translateY(-100%);
        transform-origin: left;
      }
    }

    //STYLING FOR CCOMICS PAGE CARDS
    .comic-card-container {
      text-decoration: none;
      position: relative;
      width: 20%;
      height: fit-content;
      border-radius: 5px;

      padding: 20px;
      // overflow: hidden;
      h2 {
        font-size: 15px;
        font-weight: 700;
        color: var(--clr-light);
        margin-top: 10px;
      }

      .card {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
        // border: 2px solid white;

        transition: 300ms ease-in;

        .heart-icon {
          position: absolute;
          top: 0;
          right: 8%;
          font-size: 15px;
          padding: 12px 8px 22px;
          background-color: rgba(0, 0, 0, 65%);
          color: var(--clr-light);
          clip-path: polygon(100% 0%, 100% 100%, 52% 79%, 0% 100%, 3% 0%);
        }
        .favorite {
          color: rgb(255, 22, 22);
        }

        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
        .card-content {
          padding: 20px;
          transition: transform 300ms ease;

          color: white;
          // display: none;
          background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.2) 20%, hsl(0 0% 0% / 1));
          // transform: translateY(50%);
        }
      }
      .card:hover {
        transform: translateY(-3%) scale(1.025);
        transform-origin: bottom;
        box-shadow: 0px 0px 20px rgb(107, 107, 107);
        // box-shadow: 10px var(--clr-light);
      }

      .card-content {
        display: block;
        transform: translateY(-100%);
        transform-origin: left;
      }
    }
  }
}

// CHARACTER PAGE
.character {
  // display: flex;
  // border: 3px solid pink;
  // background-color: ;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;

    .character-infos {
      display: flex;

      .character-img-container {
        // display: flex;
        // border: 3px solid red;
        padding: 30px;
        height: 500px;
        img {
          height: 100%;
          border-radius: 5px;
          box-shadow: #151515;
        }
      }

      .character-text-container {
        width: 100%;
        // border: green solid 3px;
        padding: 30px;
        color: var(--clr-light);
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 70px;
          margin: 80px 0;
          font-weight: 700;
        }
        p {
          font-size: 16px;
        }
      }
    }

    span {
      margin-top: 30px;
      margin-bottom: 20px;
      padding-left: 20px;
      padding-bottom: 10px;
      // width: 100%;
      font-size: 40px;
      font-weight: 200;
      color: var(--clr-light);
      background-color: var(--clr-dark);

      position: relative;
    }

    span:after {
      content: "";
      width: 50%;
      height: 1px;
      background-color: #f3f3f3;
      position: absolute;
      bottom: 0;
      left: 20px;
    }

    .comics-thumbnails {
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;

      .comic-card-container {
        padding: 20px;
        position: relative;
        text-decoration: none;
        color: var(--clr-dark);
        height: fit-content;
        width: 20%;

        h2 {
          font-size: 15px;
          font-weight: 700;
          color: var(--clr-light);
          // margin-top: 10px;
        }

        .card {
          position: relative;
          transition: 300ms ease-in;

          .heart-icon {
            position: absolute;
            top: 0;
            right: 8%;
            font-size: 15px;
            padding: 12px 8px 22px;
            background-color: rgba(0, 0, 0, 65%);
            color: var(--clr-light);
            clip-path: polygon(100% 0%, 100% 100%, 52% 79%, 0% 100%, 3% 0%);
          }
          .favorite {
            color: rgb(255, 22, 22);
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 2px;
            object-fit: cover;
          }
        }

        .card:hover {
          transform: translateY(-3%) scale(1.025);
          transform-origin: bottom;
          box-shadow: 0px 0px 20px rgb(107, 107, 107);
          // box-shadow: 10px var(--clr-light);
        }
      }
    }
  }
}

// COMIC PAGE
.comic {
  height: 100vh;

  .background-img {
    padding-top: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: brightness(20%) blur(10px);
    img {
      width: 100%;
    }
  }

  .comic-infos {
    display: flex;
    position: relative;
    margin-top: 40px;

    .comic-img-container {
      height: 600px;
      img {
        height: 100%;
        border-radius: 2px;
        box-shadow: #151515;
      }
    }

    .comic-text-container {
      width: 100%;
      padding: 30px;
      margin-left: 30px;
      color: var(--clr-light);
      h2 {
        font-size: 45px;
        margin: 80px 0;
        font-weight: 700;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

//FAVORITES PAGE

@media (max-width: 1240px) {
  .container {
    margin: 0 20px;
  }
}
